.sideContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  color: rgb(174, 174, 174);
}

.sidebar {
  border-width: 2px;
  background-color: rgb(30, 30, 30);
  border-color: black;
  width: 10%;
  text-align: center;
}

.logo {
  height: 200px;
  border-width: 6px;
  border-color: black;
  background-color: yellow;
  padding-left: 20px;
}

.sidebarList {
  padding-top: 25px;
}

.sidebar li {
  padding: 20px;
  border-top: 2px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
}

.sidebar li:hover {
  color: yellow;
}

.content {
  border-width: 2px;
  background-color: rgb(33, 33, 33);
  border-color: black;
  width: 100%;
  padding: 5%;
  /* this gives the text a more pop outty feel */
  color: white;
  font-size: 20px;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.homeTitle {
  font-size: 70px;
  font-weight: 800;
}

.homeSmallText {
  color: rgb(126, 126, 126);
  font-family: Courier-Oblique;
  font-style: italic;
}
