.starContainer {
  position: absolute;
  top: 5%;
  right: 5%;
}
.starContainer div {
  /* color: blue; */
  z-index: 2;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.star {
  color: rgb(10, 157, 122);
}

.headingBox {
  background-color: white;
  height: 300px;
}

.headingBox p {
  color: black;
}
