.container {
  /* height: 200vh; */
  /* not working  */
  /* overflow-y:auto; */
  /* overflow: auto; */
  /* overflow: scroll; */
}

.starContainer {
  /* position: absolute; */
  position: fixed;
  /* sticky works here */
  /* position: sticky; */
  top: 5%;
  right: 5%;
}
/* <FaStar className={styles.star} size={210}></FaStar> */
.starContainer div {
  /* color: blue; */
  z-index: 2;
  text-align: center;
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.star {
  color: rgb(10, 157, 122);
}


.header {
  font-size: 40px;
  margin-bottom: 20px
}

.aboutMe {
  width: 70%;
  background-color: white;
  color: black;
  margin-bottom: 30px;
}

.codingTechs {
  background-color: white;
  color: black;
  /* height: 300px; */
  width: 70%;
  font-weight: normal;
  margin-bottom: 30px;
}

.uiuxTechs {
  color: black;
  width: 70%;
  background-color: white;
  margin-bottom: 30px;
}

.workExp {
  width: 70%;
  background-color: white;
  color: black;
}
