  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  margin-top: -80px;
}

.row1, .row2, .row3 {
  display: flex;
  width: 100%;
}

.square {
  width: 35%;
  height: 400px;
  background-color: #3498db;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.row1 .square:nth-child(1) {
  background-color: #e74c3c; /* Example: Change the background color */
}

.row1 .container:nth-child(2) {
  background-color: #d6e73c; /* Example: Change the background color */
}

.row2 .square:nth-child(1) {
  background-color: #9b59b6; /* Example: Change the background color */
}

.row2 .square:nth-child(2) {
  background-color: #3498db; /* Example: Change the background color */
}

.row3 .square:nth-child(1) {
  background-color: #1abc9c; /* Example: Change the background color */
}

.row3 .square:nth-child(2) {
  background-color: #f39c12; /* Example: Change the background color */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the container */
}